@model Application_Core.Models.Department

@{
    ViewData["Title"] = "AddDepo";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h1>AddDepo</h1>

<form method="post">
    <div class="row">
        
        <input asp-for="DepartmentName" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
</form>
